*:focus{
  outline: none;
}
.owl-dots{
  margin-top: 0 !important;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0;
}
body{
  padding-bottom: 60px;
  min-height: 100%;
  font-family: $font1 !important;
  background-color: #f2f2f2;
}

footer{
  position: absolute;
  padding: 15px 0 15px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $color_primary;
}
.footer_menu{
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}