*:focus{
  outline: none;
}
.owl-dots{
  margin-top: 0 !important;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0;
}
body{
  font-family: $font1 !important;
}